<a href="https://colab.research.google.com/github/xuxiufeng/G-Research_Crypto_Competition/blob/main/G-Research_Crypto_Competition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# I - Download Dataset

In [2]:
! pip install -q kaggle
from google.colab import files
files.upload()
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json

In [4]:
!kaggle competitions download -c g-research-crypto-forecasting

Downloading g-research-crypto-forecasting.zip to /content
 99% 1.12G/1.13G [00:10<00:00, 155MB/s]
100% 1.13G/1.13G [00:10<00:00, 119MB/s]

In [12]:
!unzip g-research-crypto-forecasting.zip -d g-research-crypto-forecasting # unzip

error:  must specify directory to which to extract with -d option

# II - Data Description

In [14]:
import pandas as pd
import numpy as np
from datetime import datetime

In [16]:
data_folder = "./g-research-crypto-forecasting/"
!ls $data_folder

asset_details.csv	       example_test.csv  supplemental_train.csv
example_sample_submission.csv  gresearch_crypto  train.csv

In [17]:
crypto_df = pd.read_csv(data_folder + 'train.csv')

In [18]:
crypto_df.head(10)

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,1514764860,2,40.0,2376.580000,2399.5000,2357.1400,2374.590000,19.233005,2373.116392,-0.004218
1,1514764860,0,5.0,8.530000,8.5300,8.5300,8.530000,78.380000,8.530000,-0.014399
2,1514764860,1,229.0,13835.194000,14013.8000,13666.1100,13850.176000,31.550062,13827.062093,-0.014643
3,1514764860,5,32.0,7.659600,7.6596,7.6567,7.657600,6626.713370,7.657713,-0.013922
4,1514764860,7,5.0,25.920000,25.9200,25.8740,25.877000,121.087310,25.891363,-0.008264
5,1514764860,6,173.0,738.302500,746.0000,732.5100,738.507500,335.987856,738.839291,-0.004809
6,1514764860,9,167.0,225.330000,227.7800,222.9800,225.206667,411.896642,225.197944,-0.009791
7,1514764860,11,7.0,329.090000,329.8800,329.0900,329.460000,6.635710,329.454118,NaN
8,1514764920,2,53.0,2374.553333,2400.9000,2354.2000,2372.286667,24.050259,2371.434498,-0.004079
9,1514764920,0,7.0,8.530000,8.5300,8.5145,8.514500,71.390000,8.520215,-0.015875

In [22]:
asset_details = pd.read_csv(data_folder + 'asset_details.csv')
asset_details

    Asset_ID    Weight        Asset_Name
0          2  2.397895      Bitcoin Cash
1          0  4.304065      Binance Coin
2          1  6.779922           Bitcoin
3          5  1.386294            EOS.IO
4          7  2.079442  Ethereum Classic
5          6  5.894403          Ethereum
6          9  2.397895          Litecoin
7         11  1.609438            Monero
8         13  1.791759              TRON
9         12  2.079442           Stellar
10         3  4.406719           Cardano
11         8  1.098612              IOTA
12        10  1.098612             Maker
13         4  3.555348          Dogecoin

In [21]:
btc = crypto_df[crypto_df["Asset_ID"]==1].set_index("timestamp") # Asset_ID = 1 for Bitcoin    set_index remove index
btc_mini = btc.iloc[-200:] # Select recent data rows
btc_mini

,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
timestamp,,,,,,,,,
1632170460,1,5694.0,43558.393750,43588.680000,43427.28,43447.003750,191.442881,43493.981877,-0.000805
1632170520,1,2528.0,43449.818571,43495.954028,43414.33,43440.000000,80.692018,43455.988146,0.000418
1632170580,1,3985.0,43427.082310,43455.218478,43327.29,43360.723750,117.332513,43391.956795,0.000125
1632170640,1,2185.0,43362.572857,43454.990000,43348.06,43427.242857,76.361478,43403.880056,0.000956
1632170700,1,2623.0,43419.832500,43467.000000,43351.15,43375.040000,76.018320,43408.267118,-0.000430
...,...,...,...,...,...,...,...,...,...
1632182160,1,1940.0,42983.780000,43001.850849,42878.26,42899.012857,56.850913,42935.489499,NaN
1632182220,1,2026.0,42904.197143,42932.000000,42840.16,42860.005714,80.993326,42879.576084,NaN
1632182280,1,1986.0,42859.385714,42887.500000,42797.20,42827.020000,65.677734,42844.090693,NaN
1632182340,1,4047.0,42839.012802,43042.160000,42818.10,43017.277143,138.335477,42935.761938,NaN
1632182400,1,2698.0,43009.961250,43048.510000,42961.64,43002.505000,128.206820,43011.414052,NaN